html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


body {
    font-family: "Avenir Next",  "Hiragino Kaku Gothic ProN W3", sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    height: 90px;
    background-color: #26d0c9;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header-logo {
    float: left;
    font-size: 36px;
    margin: 20px 40px;
    cursor: pointer;
}



.header-list li {
    float: left;
    margin: 33px 20px;
    cursor: pointer;
}

.main {
    padding: 190px 80px;
}

.copy-container h1 {
    font-size: 140px;
}

.copy-container h2 {
    font-size: 60px;
}

.copy-container span {
    color: #ff4a4a;
}

.lesson-wrapper {
    margin-top: 100px;
}

.heading {
    font-size: 28px;
    border-bottom: 2px solid #dee7ec;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

.lessons {
    display: flex;
    flex-wrap: wrap;
}

.lesson-item {
    margin-right: 40px;
    flex: auto;
}

.lesson-item p {
    font-size: 24px;
    margin-top: 30px;
}

.lesson-item img {
    cursor: pointer;
}

.contact-wrapper {
    margin-top: 100px;
}

input, textarea {
    max-width: 400px;
    padding: 20px;
    margin: 10px 0  30px 0;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
    cursor: pointer;
}

footer {
    height: 200px;
    background-color: #2f5167;
    color: white;
    padding: 40px;
}

.footer-logo {
    font-size: 32px;
    float: left;
    cursor: pointer;
}

.footer-list {
    float: right;
    cursor: pointer;
}

.footer-list li {
    margin-bottom: 20px;
}

.menu-icon {
    float: right;
    font-size: 35px;
    padding: 23px 25px;
    cursor: pointer;
    display: none;
}
